body{
    background: url("..//image/Back-login.jpg")
}
.hd{
    height: 50px;
    background: #009688;
    text-align: center;
    color: antiquewhite;
    line-height: 50px;
    font-size: 24px;
    box-shadow: 3px 10px 50px 5px rgba(0,0,0,0.35);
    position: fixed;
    z-index: 3;
    width: 100%;
}
.hd a{
    font-family:'Bitter';
    color: antiquewhite;
    text-decoration: none;
}
.left{
    background: rgba(236, 149, 149, 0.945);
    position: fixed;
    left: 0px;
    height: 1000px;
    width: 20%;
    margin-top: 50px;
}
.left ul{
    margin: 50% 0 0 0 ;
    list-style: none;
}
.left li{
    margin: 0px 5px;
    color:#01554d;
    text-align: center;
    line-height: 70px;  
    border: 1px hidden;
    border-radius: 4px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left li:hover{
    background: rgb(231, 76, 76);
    color: antiquewhite;
    transition-duration: 0.5s;
}
.left a{
    color:#01554d;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.left li:first-child{
    margin-top: 150px
}
.bd{
    position: absolute;
    top: 80px;
    left: 20%;
    width: 70%;
    height: 600px;
    margin: 0 5% ;
    background: rgba(112, 239, 222, 0.952);
    border: 1px hidden;
    border-radius: 10px;
    height: 90%;
    box-shadow: 0px 10px 30px #727171
}

.row-1{
    position: absolute;
    top: 80px;
    left: 27%;
    width: 65%;
}
.row-1 img{
    height: 100px;
    float: left;
    margin: 25px 0 0 25px
}
.row-1 h1{
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    margin: 15px ;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.18);
}
.row-1 form {
    float: right;
    
    margin-top: 50px
}
.searchin{
    padding: 5px;
    height: 25px;
    line-height: 25px;
    border: 1px hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray inset;
}

.searchtype{
    position: absolute;
    top: 80px;
    right: 20px;
    display: none;
    color:  #009688;   
}


.srchbtn{
    background: #009688;
    margin: 5px;
    color: antiquewhite;
    box-shadow: 1px 1px 5px gray;
}
.srchbtn:hover{
    transition-duration: 0.5s;
    background: rgb(230, 99, 99);
    box-shadow: 2px 2px 5px gray;
}
.col-1{
    position: absolute;
    left: 27%;
    top:250px;
    width: 20%;
    height: 50%;
    border-right: 1px gray solid
    
}
.col-1 ul{
   list-style: none;
}
.col-1 ul li {
    margin-bottom: 50px
}
.col-1 img{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px
}
.col-1 span {
   margin-top:20px; 
  
}
.col-1 h1{
    margin:10px 0 5px 0;
    line-height: 20px;
    text-shadow: none;
    font-size: 20px;
    font-weight: bold
}
.col-1 a{
    text-decoration: none;
    color: black
}
.col-1 a:hover{
    text-decoration: none;
    color: rgb(230, 99, 99)
}
.col-2{
    position: absolute;
    left: 50%;
    top:250px;
    width: 20%;
    height: 50%;
    border-right: 1px gray solid
    
}
.col-2 ul{
   list-style: none;
}
.col-2 ul li {
    margin-bottom: 50px
}
.col-2 img{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px
}
.col-2 span {
   margin-top:20px; 
  
}
.col-2 h1{
    margin:10px 0 5px 0;
    line-height: 20px;
    text-shadow: none;
    font-size: 20px;
    font-weight: bold
}
.col-1 h1{
    margin:10px 0 5px 0;
    line-height: 20px;
    text-shadow: none;
    font-size: 20px;
    font-weight: bold
}
.col-2 ul li p1{
   display: block;
}
.col-2 a{
    text-decoration: none;
    color: black
}
.col-2 a:hover{
    text-decoration: none;
    color: rgb(230, 99, 99)
}
.col-3{
    position: absolute;
    left: 73%;
    top:250px;
    width: 20%;
    height: 50%;
    
    
}
.col-3 ul{
   list-style: none;
}
.col-3 ul li {
    margin-bottom: 50px
}
.col-3 img{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px
}
.col-3 span {
   margin-top:20px; 
  
}
.col-3 h1{
    margin:10px 0 5px 0;
    line-height: 20px;
    text-shadow: none;
    font-size: 20px;
    font-weight: bold
}
.col-3 a{
    text-decoration: none;
    color: black
}
.col-3 a:hover{
    text-decoration: none;
    color: rgb(230, 99, 99)
}
footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: black;
    color: aliceblue;
    text-align: center;
    position: absolute;
    top: 100%;
    z-index: 4;
}

footer a {
    color: antiquewhite;
}